{% extends 'base.html.twig' %}

{% block title %}Home{% endblock %}

{% block body %}
    <div class="bg-dark py-4">
        <div class="container px-2 px-lg-1 my-1">
            <div class="text-center text-white">
                <form action="{{ path('app_home') }}" method="get">
                    <p>
                        Catégorie:
                        <select name="category">
                            <option value="Tout">Tout</option>
                            {% for category in categories %}
                                <option value="{{ category.id }}">{{ category.name }}</option>
                            {% endfor %}
                        </select>
                        <input type="text" name="search" placeholder="Rechercher" value="{{ search ?? '' }}">

                        <input name="priceMin" type="text" placeholder="Prix minimum"/>
                        <input name="priceMax" type="text" placeholder="Prix maximum"/>

                        Date de parution:
                        <input type="date" name="dateParution" min="2018-01-01" max="2100-12-31">
                        Occasion:
                        <input type="radio" id="yes" name="used" value="1">
                        <label for="yes">Oui</label>
                        <input type="radio" id="no" name="used" value="0">
                        <label for="no">Non</label>
                    </p>
                    <p>
                        Prix:
                        <select name="order-price">
                            <option value="ASC">Croissant</option>
                            <option value="DESC">Décroissant</option>
                        </select>
                    </p>
                    <p>
                        <button type="submit">Search</button>
                    </p>
                </form>
            </div>
        </div>
    </div>

	{% block sections %}{% endblock %}

{% endblock %}
