{% extends 'base.html.twig' %}

{% block title %}Modifier Article{% endblock %}

{% block body %}
    <h1 class="mt-3 mx-5">Modifier Article</h1>

    {{ include('article/_form.html.twig', {'button_label': 'Mettre à jour'}) }}
    {{ include('article/_delete_form.html.twig') }}
    <a href="{{ path('app_article_dashboard') }}">Annuler</a>
{% endblock %}
