{% extends 'base.html.twig' %}

{% block title %}Nouvel article{% endblock %}

{% block body %}
    <h1 class="mt-3 mx-5">Créer un nouvel article</h1>

    {{ include('article/_form.html.twig') }}

    <a href="{{ path('app_article_dashboard') }}">Annuler</a>
{% endblock %}
